.rounded-scroll {

             
  -fx-background-insets: 0, 1;
  -fx-background-radius: 14, 13;
  -fx-padding: 6;                    
}
.rounded-scroll > .viewport {
  -fx-background-color: transparent;
}
.rounded-scroll > .corner {
  -fx-background-color: transparent;
}

.rounded-scroll .scroll-bar:vertical,
.rounded-scroll .scroll-bar:horizontal {
  -fx-background-color: transparent;
}
.rounded-scroll .thumb {
  -fx-background-color: rgba(0,0,0,0.25);
  -fx-background-radius: 6;
}

.table-view {
    -fx-background-color: white;
}

.table-view .column-header-background {
    -fx-background-color: white;
}

.table-view .filler {
    -fx-background-color: white;
}
.table-row-cell:empty {
    -fx-background-color: white;
}